#app_name{
  font-weight:bolder;
  font-size: 250%;
   text-decoration: underline;
}

ul{
    list-style: none;
}

.error_list{
  list-style: none;
  color: #ff0000;
  font-weight:bolder;
}

.confirm_msg {
  font-weight:bolder;
}
